{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <h1>Votre panier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Buy_at</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>{{ shop.buyAt ? shop.buyAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ shop.state ? 'Yes' : 'No' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_homepage') }}">Accueil</a>

{% endblock %}
